﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Covid-19 Questionnaire</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <!-- Adobe Fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/eiw1yzm.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
          integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
          crossorigin="anonymous"  />
    <!-- CSS -->
    <link rel="stylesheet" href="css/styles.min.css" asp-append-version="true"/>
</head>

<body>
    <main class="container">
        <header class="row">
            <!-- Logo -->
            <div class="col-12">
                <a class="navbar-brand" href="#">
                    <img src="img/logo.svg" width="160" alt="Monster Energy Logo" />
                </a>
            </div>
        </header>

        @RenderBody()
    </main>
    <footer class="container">
        <div class="row">
            <div class="col-12">
                <p>©2020 Monster Energy Company. All Rights Reserved.</p>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
