﻿@{
    ViewData["Title"] = "Home Page";
}

@model CovidQuestionnaire.Models.HomeViewModel

<article class="row hero">
    <div class="col-lg-10 mx-auto">
        <h1>
            Employee Wellness Check Questionnaire
        </h1>
        <p>
            It is essential for Monster Energy to provide a safe working
            environment for our employees.
        </p>
        <p>
            To prevent the spread of COVID-19 and/or flu and reduce the
            potential risk of exposure to our employees, we are requesting all
            employees fill out the following wellness questionnaire.
        </p>
        <form class="row py-0 needs-validation-1" novalidate>
            <div class="col-md-5">
                <!-- Employee ID -->
                <div class="form-group">
                    <label for="employee-id">Are you an Employee?</label>
                    <select class="form-control"
                            id="is-employee"
                            aria-describedby="employee-id"
                            required>
                        <option value="">
                        </option>
                        <option value="1">
                            YES
                        </option>
                        <option value="0">
                            NO
                        </option>
                    </select>
                    <!-- Error Msg -->
                    <small class="form-text text-danger invalid-feedback">Please select whether you are an employee or not. </small>
                </div>
                <div class="form-group">
                    <label for="employee-id">Ultipro UserName/ID </label>
                    <input type="text"
                           class="form-control"
                           id="employee-id"
                           aria-describedby="employee-id"
                           required />
                    <!-- Error Msg -->
                    <small class="form-text text-danger invalid-feedback">Please enter your Ultipro Username/ID</small>
                    <small class="form-text text-danger bad-user-id">Ultipro Username/ID was not found.</small>
                </div>
                <!-- Employee Dept -->
                <div class="form-group">
                    <label for="employeeDept">Employee Dept</label>
                    <select class="custom-select" id="department" required>
                        <option value="" selected>Select Your Department</option>
                        @foreach (var dept in Model.Departments)
                        {
                            <option value="@dept.Id">@dept.DepartmentName</option>
                        }
                    </select>
                    <small class="form-text text-danger invalid-feedback">Please enter the department you work for</small>
                </div>


                <!-- Employee Supervisor -->
                <div class="form-group mb-4">
                    <label for="employee-supervisor">Employee Supervisor</label>
                    <input type="text"
                           class="form-control"
                           id="employee-supervisor"
                           aria-describedby="employeeSupervisor"
                           required />
                    <small class="form-text text-danger invalid-feedback">Please enter you supervisors name</small>
                </div>
                <p class="text-center text-sm-left">
                    <button type="submit" class="btn btn-primary">
                        Begin Questionaire <i class="fas fa-chevron-down"></i>
                    </button>
                </p>

            </div>
        </form>
    </div>
</article>
<!-- Questionaire -->
<article class="row" style="display:none" id="questions">
    <div class="col-lg-10 mx-auto">
        <form class="needs-validation-2" novalidate>
            <ol id="form-start">
                <!-- Q1 -->
                <li>
                    Have you experienced or shown the following symptoms in the last
                    24 hours:
                    <ul class="list-unstyled mt-4 mb-4">
                        <li>Fever</li>
                        <li>Shortness of breath or Difficulty breathing</li>
                        <li>Repeated shaking with chills</li>
                        <li>Loss of smell or taste</li>
                        <li>Cough</li>
                        <li>Chills</li>
                        <li>Muscle pain</li>
                        <li>Sore throat</li>
                        <li>Tiredness/Fatigue</li>
                        <li>Gastrointestinal Symptoms</li>
                        <li>Headache</li>
                        <li>Congestion or runny nose (not associated with allergies)</li>
                        <li>Nausea or vomiting</li>

                    </ul>

                    <div class="custom-control custom-radio d-inline">
                        <input class="custom-control-input"
                               type="radio"
                               name="q1"
                               id="q1-yes"
                               required />
                        <label class="custom-control-label" for="q1-yes">
                            Yes
                        </label>
                    </div>
                    <div class="custom-control custom-radio d-inline ml-5">
                        <input class="custom-control-input"
                               type="radio"
                               name="q1"
                               id="q1-no"
                               required />
                        <label class="custom-control-label" for="q1-no">
                            No
                        </label>
                    </div>
                    <h5 class="text-danger text-center py-5">
                        If you have been fully vaccinated in accordance with current CDC guidance (an individual is considered “fully vaccinated” two weeks following the second dose in a 2-dose vaccine series or two weeks following the first dose in a single-dose vaccine series), questions #2 and #3 are not applicable and may be answered using “N/A”.
                    </h5>
                </li>

                <!-- Q2 -->
                <li>
                <p class="mt-5 mb-4">
                    Have you been exposed to anyone that has tested positive for COVID-19 in the last 14 days<br />
                    OR<br />
                    anyone that has experienced COVID-19 type symptoms in the last 14 days?
                </p>

                <div class="custom-control custom-radio d-inline">
                    <input class="custom-control-input"
                           type="radio"
                           name="q2"
                           id="q2-yes"
                           required />
                    <label class="custom-control-label" for="q2-yes">
                        Yes
                    </label>
                </div>
                <div class="custom-control custom-radio d-inline ml-5">
                    <input class="custom-control-input"
                           type="radio"
                           name="q2"
                           id="q2-no"
                           required />
                    <label class="custom-control-label" for="q2-no">
                        No
                    </label>
                </div>

                <div class="custom-control custom-radio d-inline ml-5">
                    <input class="custom-control-input"
                           type="radio"
                           name="q2"
                           id="q2-na"
                           required />
                    <label class="custom-control-label" for="q2-na">
                        N/A
                    </label>
                </div>
                </li>
                <!-- Q3 -->
                <li>
                    <p class="mt-5 mb-4">
                        Have you traveled in the last 14 days?
                    </p>
                    <div class="custom-control custom-radio d-inline">
                        <input class="custom-control-input"
                               type="radio"
                               name="q3"
                               id="q3-yes"
                               required />
                        <label class="custom-control-label" for="q3-yes">
                            Yes
                        </label>
                    </div>
                    <div class="custom-control custom-radio d-inline ml-5">
                        <input class="custom-control-input"
                               type="radio"
                               name="q3"
                               id="q3-no"
                               required />
                        <label class="custom-control-label" for="q3-no">
                            No
                        </label>
                    </div>
                    <div class="custom-control custom-radio d-inline ml-5">
                        <input class="custom-control-input"
                               type="radio"
                               name="q3"
                               id="q3-na"
                               required />
                        <label class="custom-control-label" for="q3-na">
                            N/A
                        </label>
                    </div>
                    <div class="form-group mt-4 col-md-8 col-lg-6 px-0">
                        <label for="q3-details">If yes, please provide the date and location of travel</label>
                        <textarea class="form-control"
                                  id="q3-details"
                                  rows="5"></textarea>
                    </div>

                    <h5 class="text-danger text-center py-5">If you have answered “YES” to any of the questions above, please contact your designated HR Business Partner or email COVID-19@monsterenergy.com immediately</h5>


                </li>
                <li>
                    <p class="mt-5 mb-4">
                        I consent to a temperature screening upon entering a Company facility and agree if my temperature reading is at or above 100.4° F / 38° C that I will exit the facility immediately and contact Human Resources.
                    </p>
                    <div class="custom-control custom-radio d-inline">
                        <input class="custom-control-input"
                               type="radio"
                               name="q4"
                               id="q4-yes"
                               required />
                        <label class="custom-control-label" for="q4-yes">
                            Yes
                        </label>
                    </div>
                    <div class="custom-control custom-radio d-inline ml-5">
                        <input class="custom-control-input"
                               type="radio"
                               name="q4"
                               id="q4-no"
                               required />
                        <label class="custom-control-label" for="q4-no">
                            No
                        </label>
                    </div>
                    <h5 class="text-danger text-center py-5"> If you do not consent please contact Human Resources before entering the building/facility</h5>
                </li>
            </ol>
            <!-- ./Questionaire -->
            <div class="px-3 mt-5" style="margin-bottom: 3em;">
                <p>
                    I acknowledge that the information provided above is true and
                    correct.
                </p>
                <div class="px-0">
                    <div class="row">
                        <div class="col-md-6 mb-3 mb-sm-0">
                            <input type="text"
                                   class="form-control"
                                   placeholder="Employee Signature"
                                   id="signature"
                                   required />
                        </div>
                        <div class="col-3 col-md-6 pr-0">
                            <input type="text"
                                   class="form-control"
                                   id="date"
                                   aria-describedby="date"
                                   disabled
                                   value="@DateTime.Now.ToShortDateString()" />
                        </div>
                    </div>
                    <p class="text-center text-sm-left mb-2">
                        <button type="submit" class="btn btn-primary mt-4">
                            Submit Questionaire
                        </button>
                    </p>

                </div>
            </div>
        </form>

        <div class="form-status-message row">
            <!-- Show on Successful Submission -->
            <div class="col-12 mb-4">
                <h4 class="success" style="display:none">
                    Thank you for your cooperation!
                </h4>
            </div>
            <!-- Show on Successful Submission -->
            <div class="col-12">
                <h4 class="failure  col-6" style="display:none;">
                    Sorry, you have some form fields incomplete or filled out
                    incorrectly, please correct and resubmit.
                </h4>
            </div>

        </div>

        <audio id="goodResponse">
            <source src="~/sounds/TaDa.wav" type="audio/wav">
            <source src="~/sounds/TaDa.mp3" type="audio/mpeg">
        </audio>

        <audio id="badResponse">
            <source src="~/sounds/RedAlert.wav" type="audio/wav">
            <source src="~/sounds/RedAlert.mp3" type="audio/mpeg">
        </audio>
    </div>
</article>
@Html.AntiForgeryToken()
@section Scripts{
    <script type="text/javascript">
        $(function () {
            main.init();
        });
    </script>
}
