﻿
<article class="row" id="questions">
    <div class="col-lg-10 mx-auto">
        
        <form class="needs-validation" novalidate>
            
            <div class="px-3 mt-5">
                <h2 class="mb-4">Moderna Check In. Please Enter Your Details Below.</h2>
                <p>
                    First Name
                </p>
                <div class="px-0">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <input type="text"
                                   class="form-control"
                                   placeholder=""
                                   id="firstName"
                                   required />
                        </div>
                    </div>

                </div>
            </div>
            <div class="px-3 mt-2">
                <p>
                    Last Name
                </p>
                <div class="px-0">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <input type="text"
                                   class="form-control"
                                   placeholder=""
                                   id="lastName"
                                   required />
                        </div>
                    </div>

                </div>
            </div>
            <div class="px-3 mt-2">
                <p>
                    Department
                </p>
                <div class="px-0">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <input type="text"
                                   class="form-control"
                                   placeholder=""
                                   id="department"
                                   required />
                        </div>
                    </div>

                </div>
                <p class="text-center text-sm-left mb-2">
                    <button type="submit" class="btn btn-primary mt-4">
                        Submit
                    </button>
                </p>
            </div>


        </form>

        <div class="form-status-message row mt-5">
            <!-- Show on Successful Submission -->
            <div class="col-12 mb-4">
                <h4 class="success" style="display:none">
                    Thank you for your cooperation!
                </h4>
            </div>
            <!-- Show on Successful Submission -->
            <div class="col-12">
                <h4 class="failure  col-6" style="display:none;">
                    Sorry, you have some form fields incomplete or filled out
                    incorrectly, please correct and resubmit.
                </h4>
            </div>
        </div>
    </div>
</article>

@Html.AntiForgeryToken()
@section Scripts{
    <script type="text/javascript">
        $(function () {
            moderna.init();
        });
    </script>
}

