.debug {
    outline: 2px dotted yellow;
    background-color: rgba(255,0,0,0.5);
}

:root {
    font-size: 16px;

}

// Variables
$primary-color: #8cc63f;
$secondary-color:#00964C;

// Base Typography
h1 {
    font-weight: 700;
}

.success {
    font-weight: 700;
    color: $primary-color;
    padding: 2em;
    outline: 2px solid $primary-color;
    text-align: center;
}

.failure {
    font-weight: 700;
    color: rgb(209, 0, 0);
    padding: 2em;
    outline: 2px solid rgb(209,0,0);
    text-align: center;
}
// Buttons & Text Links
.btn-primary, .btn-primary:visited {
    background-color: $primary-color !important;
    color: #rgba(255,255,255,1);
    border: none;
    padding-left: 1em;
    padding-right: 1em;
    text-transform: uppercase;
    font-weight: 600;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: darken($primary-color, 10%) !important;
    color: rgba(255,255,255,.7)
}

html {scroll-behavior: smooth;}

body {
    background-color: #333;
    background-image: url('../img/asfalt_@2X.png');
    background-repeat: repeat;
    color: #fff;
    font-family: 'proxima-nova', sans-serif
}

.hero {
    background-color: #000;
    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 3em 2em;
    margin-top: 2em;
    margin-bottom: 8em;

    @media screen and (max-width:600px) {
        background-color: #444;
        background-image: none;
        padding: 2em 1.5em;
    }
}

ol>li {
    margin-bottom: 1.5em;
}

footer p {
    font-size: .875rem;
    color: rgba(255,255,255,.3);
    text-align :center;
}

.bad-user-id {
    display: none;
}